.headerContainer {
  height: 5rem;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 16px;

  nav {
    display: flex;
    align-items: center;
    gap: 14px;

    a {
      color: var(--white);
      text-decoration: none;
      transition: color .8s;

      &:hover {
        color: var(--red-900);
      }
    }

    button {
      margin-left: 16px;
      border: 0;
      background: transparent;
      transition: transform .5s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
